API_USERNAME=admin
API_PASSWORD=admin

# AIRFLOW VARIABLES
API_URL=http://localhost:8000
API_TOKEN_URL=http://localhost:8000/token
API_REFRESH_TOKEN_URL=http://localhost:8000/api/v1/refresh-token

API_PRODUCTS_URL=http://localhost:8000/api/v1/products
API_CARTS_URL=http://localhost:8000/api/v1/carts
API_CUSTOMER_URL=http://localhost:8000/api/v1/customer
API_LOGISTICT_URL=http://localhost:8000/api/v1/logistict

# LOCAL STORAGE VARIABLES
RAW_PRODUCTS_PATH=local_storage/raw/products/{date_path}/
RAW_PRODUCTS_FILE=products_{timestamp}.json
  
RAW_CARTS_PATH=local_storage/raw/carts/{date_path}/
RAW_CARTS_FILE=carts_{timestamp}.json
 
RAW_CUSTOMER_PATH=local_storage/raw/customer/{date_path}/
RAW_CUSTOMER_FILE=customer_{timestamp}.json
 
RAW_LOGISTICT_PATH=local_storage/raw/logistict/{date_path}/
RAW_LOGISTICT_FILE=logistict_{timestamp}.json